.App {
   text-align:center;
   display: flex;
   flex-direction: column;
   background-image: url(https://www.xtrafondos.com/descargar.php?id=6534&resolucion=3840x2160);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   min-height: 100vh;
}
