.App {
   text-align:center;
   display: flex;
   flex-direction: column;
   background-image: url(https://wallpaperaccess.com/full/17520.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   width: 100vw;
   min-height: 100vh;
}
