.listItem {
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin:1.5vw;
  border-radius: 7vh;
  height: 14vh;
  width: 8.5vw ;
  }
  .listItem:hover {
    transition: 1s;
    color: rgb(15, 69, 215);
    cursor: pointer;
  }
  
  .listItem img {
    width: auto;
    height: 16vh;
    object-fit:fill;
    justify-content: center;
    border-radius:8vh;
  }
  .listItem h2 {
    display:grid;
    font-size: 1.7vh;
    margin:0.3vh
  }
  .listItem h1{
    font-size:2.2vh;
    background-color: blueviolet;
    color: aliceblue;
  }
  .listItem button{
    background-color: rgba(127, 255, 212, 0);
    width: 2vw;
    border-color: rgba(0, 0, 0, 0);
    align-self: center;
    
  }
  .closeButton{
    border:0px;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 2px 2px 1px 0px rgba(46, 44, 44, 0.75);
    transition: 1s;
  }
  .closeButton:hover{
    background-color: rgb(254, 7, 7);
    color:white;
    box-shadow: 5px 5px 3px 0px rgba(238, 27, 27, 0.75);
    cursor:pointer;
  }