.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:1vh;
    margin-bottom:1vh;
    width: 30%;
    margin-left:35%;
    margin-right:35%;
    align-self: center;
}

.bar{
    flex:1;
    background-color: rgb(0, 0, 0);
    font-size: 2.5vh;
    color: white;
    width: 19vw;
    border-radius: 5vh 0 0 5vh;
    border: none;
    height: 3vh;
    outline:none
}
.bar:hover{
 color:black;
 background-color: white;
 transition: .5s;
}

.boton{
    background-color: rgb(74, 9, 94);
    font-size: 2.2vh;
    color: white;
    border-radius: 0 5vh 5vh 0;
    border: none;
    height: 3vh;
    outline:none
}
.boton:hover{
    color: white;
    background-color: rgb(136, 8, 125);
    transition: .5s;
}